@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url('font.ttf') format('truetype');
}

body, div {
    padding: 0;
    margin: 0;
    font-size: 12px;
    background-color: #555;
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 150px;
}

div.wrapper {
    padding-left: 0.3em;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-right: 1em;
    font-size: 1.1em;
    white-space: nowrap;
    overflow: hidden;
    background-color: #444;
}

div.active {
    background: #222;
}

div.wrapper:hover {
    background: #333;
}

div.wrapper a.button {
    visibility: hidden;
}

div.wrapper:hover a.button {
    visibility: visible;
}

#tab-list div.wrapper:first-child {
    border-top: none;
}

a {
    color: whitesmoke;
    text-decoration: none;
    cursor: pointer;
}

a.tab {
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-right: 0.3em;
    margin-left: 0.2em;
    width: 95%;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;

}

a.button {
    margin-top: 0.1em;
    padding-top: 0em;
    padding-bottom: 0.1em;
    margin-left: 0.2em;
    margin-right: 0.2em;
    padding-top: 1px;
    padding-left: 0.3em;
    padding-right: 0.3em;
    border-radius: 3px;
    height: 16px;
    background-color: #222;
}

a.button:hover {
    color: whitesmoke;
    background-color: darkblue;
}

a.button.close:hover {
    background-color: firebrick;
}

a.button.reload:hover {
    background-color: green;
}

span.context {
    position: absolute;
    right: 0;
    z-index: 1;
    height: 23px;
    width: 5px;
    display: inline-block;
    opacity: 0.7;
}

div.wrapper:hover span.context {
    opacity: 1;
}

a.button.right {
    position: relative;
    z-index: 1;
    float: right;
}
#topMenu {
    padding-bottom: 1em;
    padding-left: 0.8em;
    border-bottom: 2px solid darkgrey;
}

#topMenu a {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-top: 1em;
    padding-top: 0.8em;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background-color: #f6f6f6;
    color: #333;
    border-bottom: 2px solid darkgrey;
}

#topMenu a:hover {
    border-bottom: 2px solid firebrick;
}

#topMenu.options {
    background-color: #555;
    border-bottom: none;
}

#topMenu #options::before {
    content: '☞ ';
}

#topMenu.options #options::before {
    content: '☟ ';
}

#topOptionsMenu {
    display: none;
    border-bottom: 2px solid darkgrey;
}

#bottomOptionsMenu {
    border-top: 2px solid darkgrey;
    height: 100%;
}

.subOptionsMenu {
    background-color: #555;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1em;
}

.subOptionsMenu a {
    display: block;
    padding-left: 2em;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.subOptionsMenu a:hover {
    background-color: #333;
}

a.sound {
    background-color: green;
    visibility: visible !important;
    color: white;
}

a.muted {
    background-color: darkblue;
    visibility: visible !important;
    color: white;
}

a.muted.sound {
    background: firebrick;
    visibility: visible !important;
}

a.pin.pinned {
    background-color: darkblue;
    transform: rotateX(180deg);
    color: white;
}

div.wrapper.pinned + div.wrapper.unpinned {
    border-top: 3px solid darkblue;
}

div.wrapper.pinned + div.wrapper.unpinned::before {
    content: '⇧ PIN';
    background-color: darkblue;
    color: white;
    padding: 0.55em;
    margin-top: 0em;
    display: block;
    position: relative;
    width: 3em;
    top: -1.7em;
    left: 1em;
    font-size: 6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

a.drag {
  -moz-user-select: none;
  cursor: move;
}

.over {
   border-bottom: 1px solid darkblue;
}

img.icon {
    padding-bottom: 0.25em;
    height: 12px;
    width: 12px;
    padding-right: 2px;
    display: inline-block;
}
